@charset "UTF-8";

body {
    margin: 0px;
}

header {
    background-color: #4A110C;
    height: 80px;

    position: relative;
}

header > img {
    width: 105px;

    position: relative;
    left: 4px ;
    
}