@charset "UTF-8";
@import url("roots.css");

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
}



header img {
    width: 100px;
}
header div#nameYoruni {
    color: whitesmoke;
    
}



header > nav {
    display: flex;
    flex-direction: column-reverse;
}