@charset "UTF-8";

@import url("roots.css");

@font-face {
    font-family: 'logo' ;
    src: url(fonts/Midorima-PersonalUse-Regular.ttf) format('truetype');
}

body {
    background-color: var(--body-color);
    height: auto;
    margin: 0px;
}

header#toper {
    display: block;
    position: relative;
    background-color: var(--header-color);
    height: 80px;
    margin-bottom: 20px;
    
}
header#toper > div#logo {
    font-family: 'logo';
    font-size: 4em;
    font-style: normal;
    color: whitesmoke;
    margin-left: 100px ;
    width: 180px;
}
header#toper > img {
    position: absolute;
    width: 105px;
    left: 4px;
    top: 6px;
    
}
nav {
    position: absolute;
    display: inline-block;
    width: 374px;
    margin-left: 36%;
    margin-top: 40px;

}

nav > div > a {
    background-color: #FFEAEA;
    color: black;

    text-decoration: none;
    display: inline-block;

    border: 3px solid black;
    padding: 5px;

    position: relative;

}

div#center {
    text-align: center;
    background-color: white;
    max-width: 600px;
    min-width: 300px;
    margin: auto;
    border: 3px solid black;
    padding: 15px;
    box-shadow: 10px 10px 1px #75261e;
}
.backgroundimg {
    margin: auto;
    background-color: #A6261B;

    max-width: 510px;
    min-width: none;
    height: auto;

    padding: 5px 5px 1px 5px;
}
img {
    width: 100%;
    position: relative;

}

footer#footer {
    background-color: var(--footer-color);
    margin: 0px ;
    margin-bottom: 0px;

    box-shadow: 0px -3px 10px #00000048;
}
footer#footer > div.marc {
    margin: 50px 0px 20px 0px;

    width: 100%;
    height: 3px;

    background-image: linear-gradient(270deg,var(--footer-color), black);

}
footer#footer > aside > ul {
    list-style-type: none;
    columns: 3;

    width: 190px;
    margin: auto;
}

footer#footer > aside > ul > li {
    width: 50px;

}

footer#footer > aside > ul > li > a > img {
    width: 100% ;
}

